
<link href="~/css/Message.css" rel="stylesheet" />
<input type="hidden" value="@ViewBag.ReceipentId" id="hiddenReceipentId" />
<img src="~/pictures/inbox.jpg" style="height: 170px; display: block; margin-left: auto;margin-right: auto;" /><br />
<div class="messaging" style="height:350px !important;">
    <div class="inbox_msg">
        <div class="inbox_people">
            <div class="inbox_chat">
                @if (ViewBag.MessageUsers != null)
                {
                    foreach (var item in ViewBag.MessageUsers as List<KeyValuePair<string, string>>)
                    {
    <div class="chat_list">
        <div class="chat_people" data-id="@item.Key" onclick="App.LoadUserMessages('@item.Key')">
            <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
            <div class="chat_ib">
                <h5>@item.Value <span class="chat_date"></span></h5>
                <p>
                    Click to see messages.
                </p>
            </div>
        </div>
    </div>      }
}
            </div>
        </div>
        <div class="mesgs" id="UserMessagesContainer" style="background: #F8F8FF; border-color: black">

        </div>
    </div>

</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        if ($('.chat_list').length > 0) {
            $('.chat_list:first').find('.chat_people').trigger('click');
        }
    });
</script>