@model IEnumerable<Racooter.DataAccess.Models.NewsPost>

<style>
    .row.each-post {
        border: 1px solid #e5d6d6;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        transform: perspective(2000px) translate3d(0px, -66px, 198px) rotateX(42deg) scale3d(0.86, 0.75, 1) translateY(50px);
        border-radius: 5px;
        will-change: transform;
        transition: 0.4s ease-in-out transform;        
    }
    .row.each-post:hover {
            transform: scale3d(1, 1, 1);
    }
</style>
<div style="text-align:center; padding-top: 2%">    
    <img src="~/pictures/newsletter.jpg" style="height:170px;" /><br />
</div>
<div class="col-md-12">
    @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
    {
        <div class="row mb-5" id="NewsPostsFormContainer">
            <div class="form-group col-md-6">
                <label class="col-md-12">Title</label>
                <div class="col-md-12">
                    <input type="text" id="txtPostTitle" class="form-control" placeholder="Title" />
                </div>
            </div>

            <div class="form-group col-md-6">
                <label class="col-md-12">Sub-Title</label>
                <div class="col-md-12">
                    <input type="text" id="txtPostSubTitle" class="form-control" placeholder="Sub-Title" />
                </div>
            </div>

            <div class="form-group col-md-12">
                <label class="col-md-12">Content</label>
                <div class="col-md-12">
                    <input type="text" id="txtPostContent" class="form-control" placeholder="Content" />
                </div>
            </div>

            <div class="col-md-12 mb-5">
                <div class="col-md-12">
                    <a class="btn btn-primary text-white" onclick="App.SaveNewsPost()">Save</a>
                </div>
            </div>

            
        </div>
    }

    <div class="col-md-12">

        @foreach (var item in Model)
        {
            <div class="row each-post" style="border-color: #0275d8">
                <div class="col-md-11">
                    <h3 style="text-align-last: center">
                        <strong>@item.Title</strong>
                    </h3><br />
                    <h5>
                        @item.SubTitle
                    </h5>
                    <p>
                        @item.Content
                    </p>
                    <p style="text-align-last: right">
                        @item.CreatedDate
                    </p>
                </div>
                <div class="col-md-1">
                    @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                    {
                        <a href="/Announcements/DeleteNewsPost?id=@item.Id">
                            <i class="fa fa-trash"></i>
                        </a>
                    }
                </div>
            </div>
        }

    </div>
</div>