
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RacooterCarTradingApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <style>
        body {
            background-image: url("../../Images/back2.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-info border-left border-bottom border-right box-shadow mb-lg-2">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Announcements" asp-action="NewsPosts">
                    <img src="~/pictures/Racooter-logo.png" style="height:70px;" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="btn btn-info" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-radius: 50%">
                                Menu
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a class="dropdown-item" href="/Announcements/Index">Announcements</a>
                                    <a class="dropdown-item" href="/Announcements/AddUpdate">New Announcement</a>
                                    <a class="dropdown-item" href="/Announcements/Home">Announcement Homepage</a>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <a class="dropdown-item" href="/Announcements/Categories">Category</a>
                                    }
                                    <a class="dropdown-item" href="/Announcements/Messages">Inbox</a>
                                    <a class="dropdown-item" href="/Announcements/NewsPosts">News Posts</a>
                                    @if (!User.IsInRole("Admin"))
                                    {
                                     <div class="dropdown-divider"></div>
                                     <a class="dropdown-item" href="/Announcements/Messages?id=eb75f473-5e92-4620-a752-39a0df117bb4">Contact admin</a>
                                    }

                                    @if (User.IsInRole("Admin"))
                                    {
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/Users/Index">Users</a>
                                    }
                                }
                            </div>
                        </li>
                        <li class="nav-item" style="padding-left: 3%">
                            <a class="btn btn-info" asp-area="" asp-controller="Announcements" asp-action="Home" style="border-radius: 20%">Home</a>
                        </li>
                        @if (User.IsInRole("Buyer") || User.IsInRole("Seller"))
                        {
                            <li class="nav-item" style="padding-left: 20%;">
                                <a asp-action="Messages" asp-controller="Announcements">
                                    <input type="button" class="btn btn-outline-danger" style="border-radius: 20%" value="Inbox" />
                                </a>
                            </li>
                            <li class="nav-item" style="padding-left: 5%;">
                                <a asp-action="AddUpdate" asp-controller="Announcements">
                                    <input type="button" class="btn btn-outline-danger" style="border-radius: 15%" value="New Announcement" />
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item" style="padding-left: 5%;">
                                <a asp-action="NewsPosts" asp-controller="Announcements">
                                    <input type="button" class="btn btn-outline-danger" style="border-radius: 20%" value="Post News" />
                                </a>
                            </li>
                            <li class="nav-item" style="padding-left: 2%;">
                                <a asp-action="Index" asp-controller="Users">
                                    <input type="button" class="btn btn-outline-danger" style="border-radius: 20%" value="Users" />
                                </a>
                            </li>
                            <li class="nav-item" style="padding-left: 2%;">
                                <a asp-action="Categories" asp-controller="Announcements">
                                    <input type="button" class="btn btn-outline-danger" style="border-radius: 20%" value="Add Category" />
                                </a>
                            </li>
                            <li class="nav-item" style="padding-left: 2%;">
                                <a asp-action="Index" asp-controller="Announcements">
                                    <input type="button" class="btn btn-outline-danger" style="border-radius: 15%" value="Review Announcements" />
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Moderator"))
                        {
                            <li class="nav-item" style="padding-left: 20%;">
                                <a asp-action="NewsPosts" asp-controller="Announcements">
                                    <input type="button" class="btn btn-outline-danger" style="border-radius: 20%" value="Post News" />
                                </a>
                            </li>
                            <li class="nav-item" style="padding-left: 5%;">
                                <a asp-action="Index" asp-controller="Announcements">
                                    <input type="button" class="btn btn-outline-danger" style="border-radius: 20%" value="Review Announcements" />
                                </a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - RacooterCarTradingApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        $(document).ready(function () {
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
        })
    </script>

</body>
</html>
